* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* estilos de los detalles del viaje */

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.details {
    width: 100%;
    /* height: 80vh; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */
}

.image-travel {
    width: 80%;
    transition: all 1000ms ease;
}

.image-travel img {
    width: 70%;
    border-radius: 1% 5% 1% 5%;
    box-shadow: black 1px 1px 5px 1px;
}

.details-travel {
    height: 68%;
    width: 80%;

    box-shadow: black 1px 1px 5px 1px;

    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 2%;
    padding: 1%;

    border-radius: 5% 1% 5% 1%;

    transition: all 1000ms ease;
}

.details-travel h1 {
    margin-top: 5%;
}

.details-travel p {
    margin-top: 10%;
}

.detailsForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsForm .btn-reservar {
    width: 10%;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    background-color: #323232;

    border-radius: 5px;
    box-shadow: rgb(128, 128, 128) 1px 1px 5px 1px;

    transition: all 500ms ease;
}

.detailsForm .btn-reservar:hover {
    transform: scale(1.04);
}

/* funciones desde js */

.leftTransition {
    transform: translateX(-100%);
}

.rightTransition {
    transform: translateX(150%);
}

@media only screen and (max-width: 950px) {

    .details {
        display: flex;
        flex-direction: column;
    }
}